html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}

/* ===== Hero Section ===== */
.hero-container {
  position: relative;
  width: 100%;
  height: clamp(400px, 50vh, 600px); /* scale from 400 to 600px height */
  background-image: url("../images/HeroMobileIMG.png");
  background-size: cover;
  margin-bottom: 70px;
}

/* --- Search Box Container */
.hero-content { 
  position: absolute;
  top: 107%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 500px;
}

/* ===== Search Box ===== */
.search input {
  padding: 15px;
  width: 70%;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
}

.search button {
  padding: 15px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ff3131;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/* ===== Similar Movies Title ===== */
#sectionTitle {
  margin-left: 24px;
  color: #fff;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: bold;
}

/* ===== Similar Movies Cards ===== */
.movies-row {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 24px;
  scroll-snap-type: x mandatory;
}

/* --- Scroll Bar */
.movies-row::-webkit-scrollbar {
  display: none; /
}

.movie-card {
  flex: 0 0 calc((100% / 4));
  min-width: 150px;
  color: #fff;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: auto;
  min-height: 200px;
  object-fit: cover;
}

/* ===== Footer ===== */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 20px;
}

footer a,
p {
  color: #fff;
}

/* ===== DESKTOP / TABLET BREAKPOINT ===== */
@media (min-width: 800px) {
  .hero-container {
    background-image: url("../images/heroIMG.png");
    height: clamp(500px, 60vh, 800px); /* scale from 500 to 800px height */
    margin: 0;
  }

  /* --- Search Box --- */
  .hero-content {
    top: 95%;
    left: 50%;
  }

  /* --- Hero Image --- */
  .hero image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* --- Scroll Bar  */
  .movies-row::-webkit-scrollbar {
    display: block;
    height: 8px;
    background-color: #ff3131;
  }
  .movies-row::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 4px;
  }

  .movie-card {
    flex: 0 0 calc(100% / 8);
    max-height: 400px;
  }

  .movie-card img {
    height: auto;
  }
}
